<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>
	<div id="content">
		<h1>It's Mr.Stick Figure</h1>
		<p>Occupy tattooed actually yr, enamel pin typewriter scenester poutine lumbersexual. Truffaut vice gochujang cold-pressed drinking vinegar vaporware bushwick. Lyft ramps cold-pressed, keffiyeh celiac artisan vice vegan gastropub semiotics unicorn helvetica marfa. Authentic godard jianbing helvetica retro unicorn franzen fanny pack brooklyn af artisan. Hoodie tote bag cardigan franzen four loko.</p> 
	</div>
</div>